.status_open{
    padding: 5px;
    background-color: #c2c2c2;
    border: 1px solid #716464;
    color: black;
}
.status_progress{
    padding: 5px;
    background-color: #3BBF67;
    border: 1px solid #3BBF67;
    color: #3BBF67;
}
.status_hold{
    padding: 5px;
    background-color: #f9c154;
    border: 1px solid #f9c154;
    color: #f9c154;
}
.status_review{
    padding: 5px;
    background-color: #763A96;
    border: 1px solid #763A96;
    color: #763A96;
}
.status_closed{
    padding: 5px;
    background-color: #6EBEF4;
    border: 1px solid #6EBEF4;
    color: #6EBEF4;
}
.status_escalated{
    padding: 5px;
    background-color: #1d22bf;
    border: 1px solid #1d22bf;
    color: #1d22bf;
  }
.dot {
    height: 17px;
    width: 17px;
   
    border-radius: 50%;
    display: inline-block;
    float: right;
  }
