ul.nav1 {
    display: flex;
    list-style: none;

}

a.nav-link.active {
    color: #ffffff;
    background: #5ba1e8;
}
.nav1>li>a {
    display: block;
    background: #d8d8d8;
}

.nav1>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
    color: #5ba1e8;
}

li.nav-item {
    margin-left: 3px;
    height: 4px;
}
.grid-view{
    margin-top: 5px !important;
    padding:0px;
}
h1{
    margin-bottom: 10px;  
}
input[type="checkbox"][disabled='disabled']{
    display: none;
}


.approved{
    color:green;
}
.rejected{
    color:red;
}
.pending{
    color:#3936f4;
}
h2{
    margin-top:0px;
}

.decision_form{
    margin-bottom: 5px;background-color:transparent;
}
.globalfilterContainer{
    margin-top: 10px !important;
}
