/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2021, 12:24:49 PM
    Author     : Bala
*/

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab_inner_div span {
    padding: 8px;
    font-size: 15px;
    color: #2b1ab7;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border-top: none;
}

.counter_section {
    margin-bottom: 10px;
}

.single-block {

    background-color: #222;
    flex: 1;
    border-radius: 8px;
    justify-content: center;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.block-elements {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.expand_bg {
    filter: blur(4px);
}

.page-content {
    /* background:url('<?php echo Yii::app()->request->baseUrl ?>/uploads/silders/teqnio_dashboard.jpeg') no-repeat; */
    background-size: cover;
    width: 100%;
    transition: all 1000ms ease-in-out 0s;
}

.page-wrapper {
    padding-bottom: 50px;
}

.today_summary,
.today_workers,
.email_nottification,
.escalated_tasks {
    background-color: #fff;
    border-radius: 10px;
}

.today_summary,
.today_workers,
.email_nottification,
.escalated_tasks {
    float: none;
    margin: 0px;
    width: auto;
    margin-bottom: 15px;
}

.date_qk_smy {
    background-color: #44709c;
    color: #fff;
    text-align: left;
    padding: 0px 5px;
    margin: 0px -5px;
}

.qk_desc {
    width: auto;
    padding: 5px;
    margin: 0px;
}

.week_sum_heading {
    padding: 10px;
    font-size: 14px;
    border-bottom: none;
}

.qk_desc b {
    margin-bottom: 5px;
}

.task_name {
    margin-top: 5px;
    font-size: 12px;
}

table {
    padding: 8px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.summary {
    padding-left: 5px;
}

.counter_section {
    padding: 10px;
    color: #fff;
    position: relative;
}

.counter_section div {
    font-weight: bold;
    text-transform: uppercase;
}

.counter_section div.count {
    font-size: 30px;
    /* margin-right:20px; */
}

.counter_section div.head {
    font-size: 18px;
    vertical-align: text-bottom;
}

.hrs_box {
    background-color: transparent;
    width: auto;
}

.dash_work_overview {
    padding: 5px;
}

.page-logo-img {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(255, 255, 255);
    /* Black w/opacity/see-through */
    color: #000;
    font-weight: bold;
    padding: 20px;
    padding: .5rem;
    /* width: 22%; */
    /* margin-left: 1rem; */
    border-radius: 7px;
    margin-bottom: 1rem;
}

.page-logo-img h2 {
    vertical-align: middle;
    margin-left: 1rem;
    display: inline-block;
}

.page-logo-img img {
    vertical-align: middle;
}

.million-text {
    font-size: 18px;
    font-weight: bold;
}

.grid-view .summary {
    text-align: left
}

.summary {
    float: none !important;
}

@media(min-width: 768px) {
    .block-elements {
        display: flex;
    }

    .summary {
        float: left;
    }

    .single-block {
        width: 18%;
        margin-bottom: 0px;
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .page-content .container {
        width: 1170px !important; 
        /*width: 100% !important;*/
    }

    .counter_section span.count {
        font-size: 40px;
    }

    .counter_section span.head {
        font-size: 15px;

    }

    /* .right-section, .left-section{
float:left;
} */
    /* .right-section{width: 61%;} .left-section{width: 25%} */

}

small.ref-rext{
    float:right;
    color:#b2b2b2;
}