div.form
{
}

div.form input,
div.form textarea,
div.form select
{
    margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}
/*
div.form .row
{
    margin: 5px 0;
    clear: both;
}
*/

div.form .row
{
    margin-top: 5px;
    margin-bottom: 5px;
}

div.form .hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

div.form .note
{
    font-style: italic;
}
