/* 
    Document   : style
    Created on : Sep 19, 2012, 12:54:33 AM
    Author     : Bala
    Description:
        Custome changes and styles
*/
@media(max-width:360px){
  .navbar-collapse.in{
    height:130vh;

  }
}
.row .row,
.form .row {
  margin-left: 0px;
  margin-right: 0px;
}
.page-footer
{
  z-index:10;
}
#dashboard {
  border: 1px solid #f2f2f2;
  /* width:333px;*/
  width: 265px;
  margin: 20px;
  float: left;
  text-align: center;
  border-radius: 25px;
}

.today_summary {
  border: 1px solid #c2c2c2;
  float: left;
  height: 347px;
  margin: 20px;
  overflow: hidden;
  width: 263px;
}
.week_sum_heading {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #c2c2c2;
}
.today_summary .portlet {
  border-bottom: 0px !important;
  padding-bottom: 0px;
}

.today_summary .portlet-content {
  padding: 0 !important;
}

.email_nottification {
  /* border: 1px solid #c2c2c2; */
  float: left;
  /* height: 347px; */
  margin: 20px;
  overflow: hidden;
  width: 800px;
}
.email_nottification .portlet {
  padding-bottom: 0px;
}
.today_workers {
  /* border: 1px solid #c2c2c2; */
  float: left;
  /* height: 347px; */
  margin: 20px;
  overflow: hidden;
  width: 550px;
}
.today_workers .portlet {
  padding-bottom: 0px;
}
.escalated_tasks {
  /* border: 1px solid #c2c2c2; */
  float: left;
  /* height: 347px; */
  margin: 20px;
  overflow: hidden;
  width: 550px;
}
.escalated_tasks .portlet {
  padding-bottom: 0px;
}

.dash_work_overview {
  line-height: 15px;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;
  min-height: 40px;
}
.qk_desc {
  margin: 5px;
  width: 304px;
}
.date_qk_smy {
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.hrs_box {
  background-color: #f2f2f2;
  float: right;
  font-weight: bold;
  height: 16px;
  padding: 5px;
  position: relative;
  width: 28px;
  z-index: 3;
  margin-top: 5px;
}

.dash-summary {
  /*width:250px;*/
  /*min-height:315px;*/
  /*border:1px solid #c2c2c2;*/
  float: left;
  margin-top: 0px;
}

.dash-summary ul li {
  float: left;
  border-radius: 10px;
}

.dicons {
  background-color: #f9f9f9;
  border: 1px solid #c2c2c2;
  border-radius: 20px 20px 20px 20px;
  display: block;
  float: left;
  font-size: 11px;
  height: 55px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  width: 50px;
}

.dicons:hover {
  background-color: #f1f1f1;
}

.dblink {
  margin-top: 5px;
  font-weight: bold;
}

img.dasimage {
  height: 30px;
  width: 30px;
}
.button-column a img {
  margin-right: 5px !important;
}
.grid-view {
  padding: 0px 0px 15px 0px;
}
a.savepdf {
  background: #de9f07;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
a.savepdf:hover {
  color: #fff;
}
.display_space {
  padding-bottom: 10px;
}
.select-drop {
  margin: 5px 5px 0px 0px;
}
.page-wrapper {
  padding-bottom: 52px;
  /*    background-color: #EFF3F8;*/
}
.nav > li > a {
  margin-top: 5px;
  font-size: 14px;
  color: #f1f1f1;
  padding: 10px 10px;
}
.nav-tabs li a {
  color: #06c;
  margin-top: 0px;
}
.nav-tabs li a:hover {
  color: #3175af;
}
.navbar-nav > li > a:hover {
  color: #ffffff;
  background: #55616f;
}
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.current > a,
.navbar-nav > li.current > a:hover,
.navbar-nav > li a:focus,
.navbar-nav > li a:visited {
  background: #4e5966;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #4e5966;
}
.navbar-nav .dropdown-user.open > a:focus {
  background-color: transparent;
}
.navbar-toggle .icon-bar {
  background-color: #8c8c8c;
}
.icon-comn,
.icon-comn:visited,
.icon-comn:link {
  color: #000;
  margin-right: 3px;
  padding: 0px 3px;
  text-decoration: none;
}
.icon-comn:last-child {
  margin-right: 0px;
}

.icon-comn:hover {
  color: #b68200;
  text-decoration: none;
}
.head_list th {
  color: #000;
}
.grid-view table.items th {
  background: #44709c;
}
table.detail-view tr.odd {
  background: #fff;
}
.page-footer .pull-right {
  float: none !important;
  text-align: center;
  margin-bottom: 3px;
}
.page-footer .pull-right select {
  color: #000;
  border: 1px solid #ccc;
}
.page-footer .pull-right span {
  color: #fff;
  margin-left: 10px;
}
.alert {
  margin-top: 15px;
}
.grid-view .filters input,
.grid-view .filters select {
  height: 20px;
}
ul.yiiPager li.previous {
  margin-right: 3px;
}
.user-name {
  text-align: center;
  padding: 10px;

  border-bottom: 1px solid #999;
  color: #fff;
}
.page-content {
  min-height: 650px !important;
}
.select2-container .select2-selection--single {
  height: 24px;
}
.allocation_form {
  background-color: rgba(128, 128, 128, 0.15);
  padding-bottom: 5px;
}
.alloc {
  margin: 8px 0px;
}
.alloc h4 {
  margin-bottom: 5px;
}
.myprofile {
  background-color: #fafafa;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  padding: 15px 0px;
}
.myprofile h1 {
  padding-bottom: 0.5em;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.caretiden:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 5px;
  top: 24px;
}
.mailset {
  border-right: 1px solid #dfdfdf;
  background-color: #fafafa;
}
.attsearch .form-control {
  width: 100px;
  margin-left: 10px;
  display: inline-block;
}
.form-control::-webkit-input-placeholder {
  color: #333;
}

table:not(.detail-view) th {
  text-transform: uppercase;
}
table:not(.detail-view) td {
  font-size: 11.5px;
}
.table thead tr th,
table:not(.detail-view) th {
  font-size: 12px;
}
.wrap {
  white-space: nowrap;
}
.text-danger a {
  color: #f3565d;
}
.notify-badge{
  height:21px;
  width:21px;
  padding: 5px;
}
.badge-default{
  height:21px;
  width:21px;
  padding: 5px;
}
/* .approve_div{
    position: fixed;
    top:50%;
    right: 49px;
    width: 500px;
    height: auto;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
   
} */
.punch_details{
  position: fixed;
    right: 55px;
    z-index: 2;
    width: auto;
    height: auto;
    bottom: 34px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.25);
}
.punch_details > .panel-body{
  height:auto;
  overflow:auto;
}
textarea.reason{
  width:100%;
}
.closebtn3 {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  z-index: 1;
}
.closebtn3 > a{
  color:#d8e3f2;
}
.detail-sec{
  padding: 5px 0px;
}
.detail-sec h4{
  margin-bottom: 5px;
}
.detail-sec div{
  font-size: 12px;
  margin-bottom: 3px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle !important;
}
/* 12-feb-2020 */
.modal.img_modal {
  overflow-y: hidden !important;
  border: none;
  overflow: hidden !important;
  width: auto;
  background-color: transparent;
}

.img_section {
  max-width: 100%;
}

.modal.img_modal .modal-body {
  padding: 15px;
  text-align: center;
}

table.detail-view th {
  text-align: left;
  font-weight: normal;
}

table.detail-view td {
  text-align: right;
  font-weight: bold;
}
.text-white{
  color: #fff;
}
.input_top{
  margin-top: 5px;
}
.mb-0{
  margin-bottom: 0 !important;
}
span.boq_close{
    top: 0;    
    background: #008ec9;
    padding: 10px 6px;
    position: absolute;
    right: 0px;    
}
span.boq_close a{
  color:white;
}
.right_space{
  margin-right: 1.5rem;
}
.boq_details_sec{
  max-width: 800px;
  position: fixed;
  right: 55px;
  z-index: 2;
  width:auto;
  height: auto;
  bottom: 55px;
  border-radius: 0px;
}
.boq_details_sec .panel-body .row > div{
  margin-bottom:10px;
}
.boq_details_sec .panel-body .row b + div{
  margin-top:5px;
}
.detail-sec textarea{
  vertical-align:middle;
}
.text_sm{
  font-size: 13px;
}
.grid-view .pager {
    margin: 5px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}


/*media query */
@media (max-width: 330px) {
  .page-footer .pull-right select {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #fff;
  }
  .today_summary,
  .today_workers,
  .email_nottification,
  .escalated_tasks {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
  }
}
@media(min-width:576px) {
  table.detail-view td {
    text-align: left;
  }
}
@media(max-width:576px){
  .boq_details_sec{    
    right:0px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 767px) {
  .dropdown > .dropdown-menu:after,
  .dropdown-toggle > .dropdown-menu:after,
  .btn-group > .dropdown-menu:after {
    left: auto;
    right: 20px;
    top: -7px;
  }
  .nav > li > a {
    padding: 15px 8px;
    font-size: .7rem;
  }
  .caretiden:after {
    right: -2px;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .collapse.in {
    display: block !important;
    visibility: visible !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-right {
    float: none !important;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-header {
    float: none;
  }
}

@media (min-width: 992px) {
  .page-footer .pull-right {
    float: right !important;
    text-align: left;
    margin-bottom: 0px;
  }
  .date input {
    width: 100px;
  }
  .half-table {
    width: 50%;
  }
  .myprofile {
    width: 50%;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-nav {
    float: left;
  }
  .dropdown-menu {
    position: absolute;
    float: left;
  }
  .navbar-header {
    float: left;
  }  
  .boq_details_sec{
    width:50%;
  }
}

@media (min-width: 1200px) {
  .nav > li > a {
    padding: 15px 14px;
    font-size: .8rem;
  }
  .date input {
    width: auto;
  }
  .select2 select2-container select2-container--default {
    width: auto !important;
  }
  .caretiden:after {
    right: 5px;
  }
}
@media (min-width: 1300px) {
  .nav > li > a {
    padding: 17px 14px;
  }

}

a.fa.fa-thumbs-up.approve {
  color: green;
  margin: 6px;
}
a.fa.fa-thumbs-down.reject {
  color: red;
}
/* #popup1 {
  display: none;
  border: thick solid #867a7a;
  position: absolute;
  top: 30%;
  left:30%;
  height: auto;
  width: 400px;
  background-color: white;
  z-index: 1000;
} */
#popup1 {
  display: none; 
  position: absolute; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000; 
  border: thick solid #867a7a;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333; /* You can choose your desired color */
}
.radio-button {
  margin-right: 10px; 
}
.progress-barr{
  width:30px !important;
}
.column-gap-15{
  column-gap: 15px;
}
.workload-label{
  color: black;
}
.workload-name{
  border-bottom: 1px solid #d6d6d6;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 100;
}