.modal-body .row {
  background: #fff;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 0px;
}
.btn-go {
  margin: 10px 0px 2px;
}
.modal .filter {
  padding: 10px;
}
.addRow {
  border: 0px;
}
.addRow textarea {
  width: 100%;
  height: 80px;
}
.add-box {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.add-btn {
  text-align: left;
}
span.required {
  color: red;
}
.errorMessage,
.errorMessage1 {
  color: red;
}
.rememberMe {
  float: right;
}
.modal-header {
  background: #f5f5f5;
}
.addbutton_form {
  margin-top: 15px;
  margin-bottom: 2px;
}
.editable {
  cursor: pointer;
}
.info {
  color: green;
  font-size: 20px;
}
.infoerror {
  color: red;
  font-size: 20px;
}
.deleteicon > img {
  width: 12px;
}
.importicon > img {
  width: 12px;
  margin-left: 2px;
}
.singletextbox {
  margin: 5px;
}

a.icon-user:before,
a.icon-key:before {
  /*    position: absolute !important;
      left: 12px;*/
}
.dropdown-menu li > a {
  /*    padding-left:30px!important;*/
}
img.img-circle {
  display: inline-block;
  vertical-align: middle;
}
.addelement > div {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 768px) {
  .portlet.light {
    padding: 12px 0px;
  }
  .open ul.dropdown-menu {
    display: block !important;
  }
  .table-responsive {
    border: 0px;
  }
}
.portlet.light {
  background-color: transparent;
}
table {
  background: #fff;
}
.successmessage {
  color: red;
}
div.calendar {
  z-index: 99999;
  width: 250px;
  top: 139px;
}
.modalrowdiv {
  overflow: scroll;
  border: 1px solid #f5f5f5;
  max-height: 200px;
  margin-top: 10px;
}
.modaltable {
  padding: 15px;
}
.ui-autocomplete {
  background: #f7f7f7;
  max-width: 380px;
  padding: 0;
  margin: 0;
}
.ui-autocomplete li {
  cursor: pointer;
  list-style: none;
  padding: 2px 8px;
}

.ui-autocomplete li:hover {
  background: #fff;
}

.prev_curr_next {
  float: right;
}
.prev_curr_next a {
  display: inline-block;
}

.dropdown-menu li > a .icon {
  padding-left: 30px !important;
}
.ui-dialog .ui-dialog-content {
  overflow: visible !important;
}
#expand-projects {
  /* margin-right: 15px; */
}
.expand-projects i {
  font-size: 12px;
}
.custom-container {
  max-width: 1140px;
  padding: 15px;
  overflow-y: auto;
  padding-top: 50px;
  margin-top: 20px;
}
#box::-webkit-scrollbar {
  width: 0 !important;
}
#box {
  position: absolute;
  z-index: 25;
  overflow-y: auto;
  opacity: 1;
  left: 15px;
  bottom: 13px;
  cursor: pointer;
  width: auto;
  height: auto;
  line-height: 25px;
  padding: 0 5px;
}
.thumbnail {
  overflow: hidden;
  width: 0px;
  height: 0px;
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #22222278; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: inset 0 0 0 100vw rgb(25, 25, 25, 0.5); */
  border: none;
}
.thumbnail.ease_out {
  animation: 2s ease-in-out both fade-in;
  width: 100%;
  max-width: 200px;
  height: 140px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}
.page-content-image {
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1000ms ease-in-out 0s;
}
.thumbnail-caption .caption {
  transform: translateX(-200px);
  transition: all 0.3s ease-in-out;
}
.thumbnail-caption:hover {
  background-image: none !important;
  background-color: #22222278;
}
.thumb-background {
  background-color: #424242;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
}
.thumbnail-caption:hover .caption {
  transform: translateX(0px);
}
/* .thumbnail .caption {
  background-color: rgb(25, 25, 25, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
/*.thumbnail img {
  height: 100%;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
 .thumbnail .caption {
  transform: translateX(-200px);
  transition: all 0.3s ease-in-out;
  margin-top: -83px;
}
.thumbnail:hover {
  background: rgb(25, 25, 25, 0.5);
}

.thumbnail:hover img {
  transform: translateX(200px);
}
.thumbnail:hover .caption {
  transform: translateX(0px);
} */
/* ADD THIS CLASS WITH JS */
#box.fullScreen {
  /* Your override styles: */
  border-radius: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  box-shadow: none;
  transition-delay: 0s;
}
body::-webkit-scrollbar {
  width: 0 !important;
}

.split_screen {
  /* animation: diamond 1.2s; */
  /* animation-iteration-count: infinite; */
  /* transform: scale(0) rotate(45deg); */
}
.glyphicon-remove {
  position: absolute;
  right: 13px;
  top: 17px;
}

.btn_hover {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  /* border: 1px solid;
  overflow: hidden !important;
  position: relative; */
}
.btn_hover:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  /* background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10; */
}

.btn_hover:hover:after {
  /* left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); */
}

#box.fullScreen.btn_hover:after {
  transform: none;
  transition: none;
}

/* .switch-user-custom {
  margin-left: 120px;
} */
.hrs_box {
  z-index: 0;
}
.thumbnail h2 {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}
.page-logo-img h3 {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 10px;
}
.page-logo-img {
  padding-bottom: 20px;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  display: block;
}
.switch-user-custom,
.footer-text {
  text-align: center;
}
.daily-progress-img-holder {
  text-align: center;
  padding: 15px;
}
/* #box .glyphicon-remove {
  visibility: hidden;
} */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes diamond {
  0% {
    opacity: 0.4;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 0.6;
    transform: rotate(45deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@media (max-width: 991px) {
  .page-header.mobile-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0px;
    overflow-y: auto;
    z-index: 10;
  }
}
@media (max-width: 767px) {
  .mobile-block {
    display: block;
  }
}

@media (max-width: 767px) {
  .custom-container {
    margin-top: 60px;
  }
  .glyphicon-remove {
    right: 26px;
    top: 80px;
  }
}
@media(max-width:425px){
  #box.fullScreen {
    bottom: 54px;
  }
}
@media (min-width: 576px) {
  .expand-projects i {
    font-size: 20px;
  }
  #box {
    bottom: 10px;
    padding: 0 10px;
  }
  .switch-user-custom {
    float: left !important;
    margin-left: 134px;
  }
  .footer-text {
    float: right !important;
  }
  .daily-progress-img-holder {
    display: inline-block;
  }
  /* .mobile-block {
    display: inline-block;
  } */
}


/* New classes */

.grid-col-gap-1{
  grid-column-gap: 1px;
}

.grid-col-gap-10{
  grid-column-gap: 10px;
}

.min-height-250 {
  min-height: 250px;
}

.margin-bottom-minus-20 {
  margin-bottom: -20px;
}

.w-50{
  width:50% !important;
}

.w-47{
  width:47% !important;
}

.height-28,
.inp-field .height-28{
  height:28px !important;
}

.height-34{
  height:34px !important;
}

.border-radius-5{
  border-radius: 5px !important;
}

.border-none{
  border:none !important;
}

.grey-border{
  border:1px solid #ddd !important;
}

.grey-border-bottom{
  border-bottom:1px solid #ddd !important;
}

.align-items-start{
  align-items: flex-start;
} 

.dashboard-top-row{
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 10%);
}

.pull-left.expand-projects{
  border:1px solid;
}

.toggle-expand-icon.close-button{
  padding-bottom: 5px !important;
}
.expand-projects .glyphicon-remove{
  top:25px !important;
}

.new-table td.button-column {
  display: flex;
}

.button-row{
    display: flex;
    justify-content: center;
    grid-column-gap: 10px;
}

.choice-btn{
    padding: 10px 10px !important;
    margin-top: 0px !important;
    border-radius: 5px;
    color:black !important;
}

.choice-btn.active{
  color:#fff !important;
}

a.nav-link.choice-btn.active:hover{
  color:black !important;
}

.project-status{
  padding:0px !important;
}

.row table.table.bordering-table tbody tr td{
  border-top:none;
}

.bordering-table,
.full-border{
  border:1px solid #ddd !important;
}

.left-side-border{
  border-left:1px solid #ddd !important;
}

.task-open{
  cursor:pointer;
  text-decoration: underline;
}

.monthly-table-left{
  float:left;
  margin-top:5px;
  width:50%;
}

.monthly-table-right{
  float:right;
}

.monthly-table-right .btn.btn-sm{
  visibility: hidden;
}

.add-button-row:hover .monthly-table-right .btn.btn-sm{
  visibility: visible;
}

.task-progress{
  display:none;
}

@media (max-width: 1350px) and (min-width:1091px){
  .nav.navbar-nav li a{
    padding: 15px 10px !important;
  }
}

@media (max-width: 1090px) and (min-width:1041px){
  .nav.navbar-nav li a{
    padding: 15px 7px !important;
  }
}

@media (max-width: 1040px) and (min-width:992px){
  .nav.navbar-nav li a{
    padding: 15px 5px !important;
  }
}